API_KEY=
BASE_URL=https://ark.cn-beijing.volces.com/api/coding/v3
MODEL_NAME=glm-4.7


MAIL_HOST=smtp.qq.com
MAIL_PORT=465
MAIL_SECURE=true
MAIL_USER=223@qq.com
MAIL_PASS=ostnjdhgf
MAIL_FROM="No Reply" <22@qq.com>


BOCHA_API_KEY=



